@import ./_variables

body
    margin: 0
    padding: 0
    font: 16px Arial, sans-serif
    background-color: $white

h1,
h2,
h3
    margin: 0
    padding: 0
    line-height: 1.2

p
    font-size: 16px
    line-height: 1.45
    margin: 0

.is-hidden
    visibility: hidden

.btn
    border: none
    background-color: $gray
    border-radius: $border-radius
    padding: 0.25rem 0.5rem
    cursor: pointer
    color: $dark
    transition: background-color .2s ease

.container
    margin: 0 auto
    padding-left: 1rem
    padding-right: 1rem
    width: 960px
